.todo {
  border: 1px solid red;
  position: absolute;
  width: 50%;
  top: 5%; /* Si tu veux le placer à 10% du haut */
  left: 50%; /* Place le centre du composant au milieu de la page */
  transform: translateX(
    -50%
  ); /* Décale le composant vers la gauche de 50% de sa propre largeur */
}
