$light-grayish-blue: rgb(202, 205, 232);
$light-grayish-blue-hover: rgb(228, 229, 241);
$dark-grayish-blue: rgb(119, 122, 146);
$very-dark-grayish-blue-1: rgb(77, 80, 102);
$very-dark-grayish-blue-2: rgb(57, 58, 76);
